body {
    background-color: rgb(144, 201, 192);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

#name-form, #img-rps, .footer-score {
    display: block;
    text-align: center;
}

.oneline {
    display: inline-block;
    text-align: center;
}

.img-rps-link {
    /* Three image containers (use 25% for four, and 50% for two, etc) */
    float: middle;
    width: 30%;
    padding: 5px;
    max-width: 200px;
    max-height: auto;
    min-width: 95px;
    min-height: auto;
}
  
  /* Clear floats after image containers */
.main-img::after {
    content: "";
    clear: both;
    display: table;
}


.main-img, #name-input, #name-submit {
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.vs-section {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

#view-vs-container {
    /* display: inline-block; */
    text-align: center;
    vertical-align: middle;
}

#view-vs-p1 {
    width: 40%;
    text-align: right;
    float: left;
}

#view-vs-center {
    display: inline-block;
}

#view-vs-p2 {
    width: 40%;
    text-align: left;
    float: right;
}



#gamestatus, #name-form {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 2.2rem;
}