/* Use border-box not content-box to ensure sizes remain the same regardless of padding or margin */

* {
    box-sizing: border-box;
}

/* Body section */

body {
    background-image: url(../images/page-background.png);
    background-repeat: repeat;
    display: block;
    margin: 0 auto;
}

/* Used to ensure the textbox has the same font as the rest of the site */
body, textarea {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Header section */

header {
    background-color: #ffffff;
    height: 76px;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    /* border */
    border-bottom width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    /* positioning */
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
}

.nav-header {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.nav-header-name {
    background-color: #4aaaa5;
    color:#ffffff;
    height: 100%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    width: 30%;
    text-align: center;
    vertical-align: middle;
    line-height: 76px;
}

/* Used to rid the page of default html styling on links */


.nav-header-links {
    width: 70%;
    text-align: right;
    display: inline-block;
    position: absolute;
    top: 0%;
    -webkit-transform: translateY(150%);
    -ms-transform: translateY(150%);
    transform: translateY(150%);
    padding-right: 30px;
}

.nav-header-links a {
    color: rgb(166,153,153);
    text-decoration: none;
    padding-left: 30px;
}

/* Content section */

.content-container {
    width: 960px;
    margin: 0 auto;
    margin-top: 106px;
    margin-bottom: 99px;
    background-color: #ffffff;
    padding: 28px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221,221,221);
}

#content-header {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    vertical-align: middle;
    margin-top: 10px;
    padding-bottom: 18px;
    border-bottom width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
}

/* Index page styling */

#content-profile-pic {
    float: left;
    height: 260px;
    width: auto;
    margin-right: 25px;
    margin-bottom: 5px;
}

.content-container p {
    line-height: 30px;
}

.contact-form p {
    margin-bottom: 2px;
}

.content-profile-quote {
    font-style: italic;
}

.content-profile-quote-credit {
    text-align: right;
}

/* Portfolio page styling */

.portfolio-pic-page {
    position: relative;
    margin: 0px 20px 20px 0px;
    padding: 0px;
    width: 260px;
    height: 260px;
    display: inline-block;
}

.portfolio-pic-page a {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.portfolio-pic {
    position: absolute;
    height: 260px;
    width: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(204, 204, 204);
}

.portfolio-pic-text {
    background-color: #4aaaa5;
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
    display: inline;
    padding: 5px;
    margin: 190px 0px 0px 0px;
}

/* Contact page styling */

input, textarea {
    width: 100%;
    height: 30px;
    padding: 8px 8px 8px 8px;
}

textarea {
    height: 200px;
    margin-bottom: 14px;
    font-size: 14px;
}

#contact-form-submit-btn {
    background-color: #4aaaa5;
    color:#ffffff;
    width: 100px;
    display: inline-block;
    text-align: center;
    padding: 8px 24px 8px 24px;
    margin: 0 0px 0px 0px;
    text-decoration: line-through;
}

#contact-form-submit-btn-disabled {
    display: inline;
    padding: 0px 0px 0px 10px;
}

/* Footer styling */

footer {
    border-top-width: 8px;
    border-top-style: solid;    
    border-top-color: #4aaaa5;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: 13px;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
}

footer p {
    opacity: 0.5;
    padding-top: 20px;
}

/* Media queries */

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {
    
    header {
        position: static;
        left: none;
        top: none;
        transform: none;
        height: 50px;
    }

    .nav-header {
        width: 100%;
        height: inherit;
        position: relative;
    }

    .nav-header-name {
        width: 100%;
        line-height: 50px;
    }
    
    .nav-header-links {
        width: 100%;
        background-color: #ffffff;
        text-align: center;
        padding: 10px 0px 10px 0px;
        position: static;
        top: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        border-bottom width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(204, 204, 204);
        
    }

    .content-container {
        margin-top: 72px;
        width: 90%;
        margin-bottom: 39px;
    }

    #content-profile-pic {
        float: none;
        margin: auto;
        display: block;
    }

    footer {
        position: static;
        margin-bottom: 0px;
    }

    footer p {
        padding: 5px 0px 5px 0px;
        margin-bottom: 0px;
    }

}