html {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
    position: relative;
}

body {
    background-image: url(../images/708217.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 95%;
    margin: auto;
}

.card {
    margin: 5px 5px 5px 5px;
}

.content-subheaders {
    font-weight: bold;
    text-decoration: underline;
}

/* make this happen until paused, or better yet - occur 7 iterations only (start on fade in of body)*/
/* #hintbutton {
    -webkit-animation: flash linear;
    animation: flash linear;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: 10;
    }
    @-webkit-keyframes flash {
        0% { opacity: 1; } 
        50% { opacity: .6; } 
        100% { opacity: 1; }
    }
    @keyframes flash {
        0% { opacity: 1; } 
        50% { opacity: .6; } 
        100% { opacity: 1; }
    } */

#hintbutton-text {
    font-style: italic;
    padding-left: 10px;
}


#guessprogress {
    text-align: center;
}

.card {
    opacity: 0.85;
}