html {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
    position: relative;
}

body {
    background-image: url(../images/708217.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 95%;
    margin: auto;
}

.card {
    margin: 5px 5px 5px 5px;
}

.content-subheaders {
    font-weight: bold;
    text-decoration: underline;
}


#guessprogress {
    text-align: center;
}

.card {
    opacity: 0.85;
}