body, html {
    height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
    font-size: 22px;
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    /* margin: 0 auto; */
    position: relative;
}

h3 {
    vertical-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

img {
    max-width: 100%;
    max-height: auto;
}

.card {
    background-color: transparent;
    border: none;
    margin: 0 auto;
    padding: 10px;
}

.btn {
    background: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    margin-bottom: 5px;
}

.html-section {
    margin-bottom: 30px;
}

#hint {
    font-size: 26px;
}

